.ResultsPage {
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
}

.infoTitle {
  font-family: Red Hat Display;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
  color: #a1a1a1;
}

.infoContent {
  font-family: Red Hat Display;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
}

.infoContainer {
  display: flex;
  margin-left: 5%;
}

.frameRoomContainer {
  margin-top: 5%;
}

.UploadLabel {
  border-radius: 32px;
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 0px;
  border: 1px solid var(--primary);
  width: 130px;
  height: 19px;
}

.changeButtonContainer {
  height: 200px;
}

.actionButtonContainer {
  display: flex;
  justify-content: space-between;
}
