.RoomsPage {
  padding-left: 35px;
  padding-right: 35px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.RoomsPage .BubbleContainer {
  margin-bottom: 10px;
}

.roomBubble {
  width: 75px;
  margin-right: 10px;
}
