.BubbleButton {
  border-radius: 16px;
  font-family: Red Hat Display;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 0px;
}

.not-clicked {
  border: 1px solid #717273;
  color: #717273;
}

.clicked {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
}
