.Frame {
  background-color: white;
  border: 2px solid #181818;
  box-shadow: 2px 4px 4px 0px #00000026;
  /* box-shadow: -2px 2px 2px 0px #00000080 inset; */
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6% 6%;
}

.photoImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fcb-position-size {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 6vw;
}

.change-img-fcb {
  top: 6%;
  left: 6%;
}

.move-img-fcb {
  top: 0;
  left: 50%;
}

.edit-img-fcb {
  top: 0;
  left: 100%;
}

.edit-options-container {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 120%;
  height: 70px;
  width: 117px;
  background-color: white;
  border-radius: 4px;
  font-family: Red Hat Display;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.edit-options {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #263238;
  margin-left: 14%;
}

.edit-options > img {
  margin-right: 5px;
}

.edit-options > div {
  flex: 1;
}

.delete-button {
  color: red;
}

.options-divider {
  border: 0.3px solid rgba(38, 50, 56, 0.2);
}
