.frame-container {
  display: flex;
  flex-direction: column;
}

.frame {
  margin: auto auto;
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.size-label {
	font-size: 12px;
	position: absolute;
}

.image {
	height: 90%;
	width: 90%;
	display: block;
	margin: auto auto;
	object-fit: cover;
}

.upload-label {
	font-size: 10px;
	margin: auto auto;
	display: inline-block;
}

.upload-button {
	visibility: hidden;
}