.frame-button-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 999;
	margin-top: -10px;
	margin-left: -12px;
}

.frame-button {
	height: 25px;
	width: 25px;
	border-radius: 100px;
	border-style: solid;
	background-color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.button-options {
	height: 60px;
	width: 120px;
	background-color: white;
	margin-left: 10px;
	border-radius: 5px;
}

.add-button {
	height: 22px;
	width: 120px;
	margin: auto auto;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}

.delete-button {
	height: 25px;
	line-height: 6px;
	width: 120px;
	margin: auto auto;
	text-align: center;
	color: red;
	font-size: 12px;
}

.divider {
	border-top: solid;
	color: #a9a9a9;
}

.optionText {
	font-family: Red Hat Display;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
	line-height: 13px;
}
