.moveButtonContainer {
	position: absolute;
	z-index: 99;
	margin-top: 2px;
    height: 25px;
	width: 25px;
	border-radius: 100px;
	border-style: solid;
	background-color: white;
	text-align: center;
	line-height: 18px;
}