@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Red+Hat+Display:wght@500&display=swap");

:root {
  --primary: #ff9632;
}

.standardPagePadding {
  padding: 0 35px;
}

.PageTitle {
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
}

.BubbleContainer {
  display: flex;
  align-items: center;
}

.imgList {
  flex: 1;
  overflow-y: scroll;
}

.roomImg {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
